
<%- include('../layouts/loggedheader'); -%>
<div class="row">
    <div class="col-3">
        <div class="d-flex flex-column"> 
            <%- include('../layouts/sidebar'); -%>
        </div>
    </div>
    <div class="col-6">
        <div class="card shadow m-3">
            <div class="card-header">
                <h3>Expenses this month</h3>
            </div>
            <div class="card-body">
                Some categories will be displayed here.
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/floating-button') %>
<%- include('../layouts/footer'); -%>