<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <div class="mb-4">
            <!-- Cat emoji as a large icon -->
            <span style="font-size: 6rem;">😿</span>
        </div>
        
        <h1 class="display-1 fw-bold">Oops!</h1>
        <p class="fs-3">
            <!-- Message passed through EJS -->
            <%= message %>
        </p>
        <p class="lead">
            Something went wrong, but don't worry - our cat is on it!
        </p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>